---
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { getCollection } from "astro:content";

import { Button } from "bits-ui";
import BaseLayout from "../../layouts/BaseLayout.astro";
import RenderTags from "../../components/RenderTags.svelte";

export const getStaticPaths = (async () => {
    const blogPosts = await getCollection("blog");
    return blogPosts.map((post) => ({
        params: { slug: post.data.slug },
        props: post,
    }));
}) satisfies GetStaticPaths;

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);

const tags = post.data.tags ?? [];
---

<BaseLayout
    titleOverride={`${post.data.title} | lm04/blog`}
    descriptionOverride={post.data.description}
    slugOverride={`blog`}
>
    <Button.Root
        class={`text-stone-500 hover:underline hover:underline-offset-2`}
        href={`/blog`}
    >
        &larr; Back
    </Button.Root>

    <article
        class={`prose prose-invert max-w-[96ch] prose-headings:text-amber-50 text-amber-50 mt-2`}
    >
        <hgroup>
            <time
                class={`text-stone-500 text-sm`}
                datetime={post.data.publish_date.toISOString()}
            >
                Published on
                {
                    post.data.publish_date.toLocaleDateString("en-us", {
                        year: "numeric",
                        month: "long",
                        day: "2-digit",
                    })
                }
            </time>

            <h2 class={`font-amulya font-bold md:text-3xl text-2xl mt-0 mb-2`}>
                {post.data.title}
            </h2>

            <span class={`prose-ul:list-none prose-ul:p-0`}>
                <RenderTags {tags} />
            </span>
        </hgroup>

        <div class={`max-w-[96ch] prose-code:font-jetbrains`}>
            <Content />
        </div>
    </article>
</BaseLayout>
