---
import type { ImageMetadata } from "astro";
import { SITE_INFO } from "../consts";
import FallbackImage from "../../public/images/me.png";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
    titleOverride?: string;
    descriptionOverride?: string;
    imageOverride?: ImageMetadata;
    slugOverride?: string;
}

const {
    titleOverride: title = SITE_INFO.title,
    descriptionOverride: description = SITE_INFO.siteDescription,
    imageOverride: image = FallbackImage,
    slugOverride: slug = "me",
} = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead {title} {description} {image} />
    </head>

    <body class={`flex flex-col md:items-center overflow-x-hidden`}>
        <Header pathname={Astro.url.pathname} {slug} />

        <main class={`min-h-[84dvh] md:w-[96ch] md:m-auto mx-4`}>
            <slot />
        </main>

        <Footer />
    </body>
</html>
